<h1><%= @figure.name %></h1>

<h2>Also known as:</h2>
<ul>
<% if @figure.titles.empty? %>
  <li><%= "No Known Titles" %></li>
<% else %>
  <% @figure.titles.each do |title| %>
    <li><%= title.name %></li>
  <% end %>
<% end %>
</ul>

<h2>Is associated with landmarks:</h2>
<ul>
<% if @figure.landmarks.empty? %>
  <li><%= "No Known Landmarks" %></li>
<% else %>
  <% @figure.landmarks.each do |landmark| %>
    <li><%= landmark.name %></li>
  <% end %>
<% end %>
</ul>
